html, body {
  height: 100%;
}

/* NAV BAR */
.navbar {
  margin-bottom: 0px;
}

#teacher-dropdown {
  background-color: #f39c12;
}

#student-dropdown {
  background-color: #3498db;
}

/* PARENT CONTAINER DIV */
#container-background {
  background: 
    linear-gradient(
      rgba(190, 186, 191, 0.45),
      rgba(190, 186, 191, 0.45)
    ),
    url("/assets/lined_paper_bg.jpg");
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

/* CONTENT  FOR ALL PAGES */
.pg-content-container {
  margin-top: 50px;
  background-color: #3498db;
}

.jumbotron>h1, .pg-content-title {
  margin-top: -30px;
  color: #ffffff;
  position: relative;
  font-family: 'Permanent Marker', cursive;
}

label {
  font-size: 2em;
}

.btn-submit {
  font-size: 2em;
}

.edit-btn-group {
  position: absolute;
  right: 15px;
  top: 50px;
}

.back-btn {
  position: absolute;
  left: 15px;
  top: 50px;
}

.dropdown-menu, .edit-btn-group>.dropdown-menu {
  right: 0;
  left: -88px;
}

.caret {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #ffffff;
}

.input-text {
  height: 50px;
  font-size: 1.5em;
}

.choice-input {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.correct-choice-input {
  display: inline-block;
  width: 100%;
}


/* HOME PAGE */

.home-text {
  text-align: center;
}

.home-description {
  font-style: italic;
}

#home-text-title {
  font-size: 10em !important;
}

#home-btn-container {
  width: 80%;
  position: relative;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.home-btn {
  display: block;
  position: relative;
  height: 100px;
  width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  border: 5px solid white;
}

.home-btn-text {
  font-size: 4em !important;
  color: white;
  text-align: center;
  margin: auto;
}

#show-test-container {
  position: relative;
}

/* TEST INDEX */
#add-test-btn {
  position: absolute;
  right: 20px;
  top: 15px;
}

.sub-container {
  width: 90%;
  border: 2px solid #3498db;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: rgba(190, 186, 191, 0.45);
}

.test-question-container:hover .sub-container {
  background-color: #ffffff;
}

/* CREATE A TEST */
#test-title-text {
  width: 80%;
  height: 60px;
  font-size: 2em;
}

.selected-category {
  border: 2px solid black;
}

/* SHOW A TEST */
.test-category {
  margin-top: 0;
  margin-bottom: 30px;
  width: 50%;
  display: inline-block;
}


#add-questions-dropdown {
  right: 20px;
  top: 15px;
}

.test-question-container {
  position: relative;
  border: 2px solid #3498db;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #ffffff;
}

.test-question-container:hover {
  background-color: rgba(190, 186, 191, 0.45);
}

.toggle-icon-container {
  display: inline-block;
  width: 3%;
  text-align: left;
  vertical-align: middle;
}

.test-question-text {
  display: inline-block;
  width: 90%;
}

#remove-question-btn {
  display: inline-block;
  position: absolute;
  width: 5%;
  vertical-align: middle;
  text-align: center;
  top: 5px;
  right: 5px;
  height: 48px;
}

#add-existingQ-btn {
  display: inline-block;
  position: absolute;
  width: 5%;
  vertical-align: middle;
  text-align: center;
  top: 0;
  right: 0;
  height: 59px;
}

#add-existingQ-btn>span {
  margin-left: -5px;
}

.answer-choice-container {
  width: 90%;
  border: 2px solid #3498db;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: rgba(190, 186, 191, 0.45);
}

.session-answer-choice:hover {
  background-color: rgba(243, 156, 18, 0.45);
}

.test-question-container:hover .correct-answer-view-only {
  background-color: rgba(20, 156, 130, 0.4);
}

.test-question-container:hover .wrong-answer-view-only {
  background-color: rgba(231, 76, 60, 0.4); 
}

#createQuestionAddToTestForm {
  padding-top: 0px;
}

.content-title {
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 35px;
  font-family: 'Permanent Marker', cursive;
}

.chosen-answer {
  background-color: #18bc9c;
}

/* NEW SESSION */
.test-info-display {
  display: inline-block;
  width: 85%;
  margin-top: 0;
  margin-bottom: 0;
}

#start-session-btn {
  width: 10%;
  margin-bottom: 10px;
}


/* TAKE A QUESTION */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#session-data-container {
  height: 215px;
}

.progress {
  background-color: rgba(243, 156, 18, 0.45);
  height: 40px;
}


#result-display, #final-result-display {
  margin-top: -12px;
  margin-bottom: 0px;
}

#result-display {
  height: 87.5px;
}

/* ANIMATION - REVISIT */
.animate-show,
.animate-hide {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -ms-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}


#result-display-content {
  margin: 0px;
  margin-top: 10px;
}

#result-display-text {
  display: inline-block;
  margin-top: 0px;
  text-align: center;
}

.result-display-content-container {
  display: flex;
  justify-content: space-between;
}

#result-display-nxt-btn {
  display: inline-block;
  position: relative;
  bottom: 5px;
}

.on-load>nvd3>svg>g>g>.nv-pieWrap {
  display: none;
}

.nvd3-svg {
  /*height: 350px !important;*/
  margin-bottom: -140px;
}

.nv-pieChart {
  height: 350px !important;
}

g>circle[r] {
  r: 15;
}

g>circle {
  transform: translateX(-15px);
}

g>text {
  font-size: 2em;
}

#final-result-display {
  margin-top: -12px;
  margin-bottom: 10px;
  background-color: rgba(243, 156, 18, 0.45);
}


.final-result-btn {
  display: inline-block;
  margin-left: 15px;
}

#session-show-question:hover {
  background-color: #ffffff;
}


.session-chosen-answer {
  border-width: 7px;
  border-color: rgba(243, 156, 18, 1);
}

.correct-answer {
  background-color: rgba(20, 156, 130, 0.4);
}

.wrong-answer {
  background-color: rgba(231, 76, 60, 0.4); 
}

.session-btn-container {
  margin-left: -15px;
}

#submit-text {
  font-size: 2em;
}

#report-card-container {
  background: 
    linear-gradient(
      rgba(190, 186, 191, 0.45),
      rgba(190, 186, 191, 0.45)
    ),
    url("/assets/lined_paper_bg.jpg");
  position: relative;
}

.report-card-text {
  font-family: 'Permanent Marker', cursive;
  color: red !important;
  text-align: center;
}

.report-card-title {
  text-decoration: underline;
}
