<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron pg-content-container">
      <!-- Back Button -->
      <a class="btn btn-primary back-btn" href="/tests/{{vm.test._id}}"><i class="fa fa-caret-left fa-2x" aria-hidden="true"></i></a>
      <!-- Title -->
      <h1 class="pg-content-title">Edit Test</h1>
      <div id="editTestForm" class="well">
        <form ng-submit="vm.editTest(vm.test)">
          <div class="form-group">
            <label>Test Name:</label>
            <input ng-model="vm.test.title" type="text" class="form-control input-text" id="test-title-text" value="{{vm.test.title}}" autofocus autocomplete="off">
          </div>
          <div class="form-group">
            <label for="testCategory">Select a Category:</label>
            <div class="input-group">
              <div class="input-group-btn">
                <button ng-click="vm.selectCategory('Math')" type="button" class="btn btn-danger" ng-class="{'selected-category': vm.test.category === 'Math'}">
                  <i class="fa fa-calculator" aria-hidden="true"></i> 
                  Math
                </button>
                <button ng-click="vm.selectCategory('English')" type="button" class="btn btn-info" ng-class="{'selected-category': vm.test.category === 'English'}">
                  <i class="fa fa-book" aria-hidden="true"></i> 
                  English
                </button>
                <button ng-click="vm.selectCategory('Social Studies')" type="button" class="btn btn-default" ng-class="{'selected-category': vm.test.category === 'Social Studies'}">
                  <i class="fa fa-globe" aria-hidden="true"></i> 
                  Social Studies
                </button>
                <button ng-click="vm.selectCategory('Science')" type="button" class="btn btn-warning" ng-class="{'selected-category': vm.test.category === 'Science'}">
                  <i class="fa fa-flask" aria-hidden="true"></i> 
                  Science
                </button>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-submit">Update</button>
        </form>
      </div>

      <a class="btn btn-primary" href="/tests/{{vm.test._id}}">Back to Test</a>
      
    </div>
  </div>
</div>