<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron pg-content-container">
      <h1 class="pg-content-title">Create a Test</h1>

      <div id="newTestForm" class="well">
        <form ng-submit="vm.addTest(vm.test)">
          <div class="form-group">
            <label>Test Name</label>
            <input ng-model="vm.test.title" type="text" class="form-control" placeholder="Give your test a name...">
          </div>
          <div class="form-group">
            <label for="testCategory">Select a Category:</label>
            <div class="input-group">
              <div class="input-group-btn">
                  <button type="button" class="btn btn-default">Math</button>
                  <button type="button" class="btn btn-default">English</button>
                  <button type="button" class="btn btn-default">Social Studies</button>
                  <button type="button" class="btn btn-default">Science</button>
              </div>
            </div>
              <!-- <select name="testCategory" id="testCategorySelector"
                ng-model="vm.test.category">
                <option value="Math">Math</option>  
                <option value="English">English</option>  
                <option value="Social Studies">Social Studies</option>  
                <option value="Science">Science</option>  
              </select> -->
          </div>
          <button type="submit" class="btn btn-success">Create Test</button>
        </form>
      </div>

      <a class="btn btn-warning" href="/tests">Never mind, go back</a>
      
    </div>
  </div>
</div>
