<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron pg-content-container">
      <h1 class="pg-content-title">Create a Test</h1>

      <div id="newTestForm" class="well">
        <form ng-submit="vm.addTest(vm.test)">
          <div class="form-group">
            <label>Test Name:</label>
            <input ng-model="vm.test.title" type="text" class="form-control" id="test-title-text" placeholder="Give your test a name...">
          </div>
          <div class="form-group">
            <label for="testCategory">Select a Category:</label>
            <div class="input-group">
              <div class="input-group-btn">
                <button ng-click="vm.selectCategory('Math')" type="button" class="btn btn-danger">
                  <i class="fa fa-calculator" aria-hidden="true"></i> 
                  Math
                </button>
                <button ng-click="vm.selectCategory('English')" type="button" class="btn btn-info">
                  <i class="fa fa-book" aria-hidden="true"></i> 
                  English
                </button>
                <button ng-click="vm.selectCategory('Social Studies')" type="button" class="btn btn-default">
                  <i class="fa fa-globe" aria-hidden="true"></i> 
                  Social Studies
                </button>
                <button ng-click="vm.selectCategory('Science')" type="button" class="btn btn-warning">
                  <i class="fa fa-flask" aria-hidden="true"></i> 
                  Science
                </button>
              </div>
            </div>
              <!-- <select name="testCategory" id="testCategorySelector"
                ng-model="vm.test.category">
                <option value="Math">Math</option>  
                <option value="English">English</option>  
                <option value="Social Studies">Social Studies</option>  
                <option value="Science">Science</option>  
              </select> -->
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-submit">Create Test</button>
        </form>
      </div>

      <a class="btn btn-primary" href="/tests">Never mind, go back</a>
      
    </div>
  </div>
</div>
