<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron pg-content-container">
      <!-- Back Button -->
      <a class="btn btn-primary back-btn" href="/tests">Back to Tests</a>
      <!-- Title -->
      <h1 class="pg-content-title">{{vm.test.title}}</h1>
      <!-- Edit Menu -->
      <div class="btn-group edit-btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>    <span class="caret"></span>
        </button>
        <ul class="dropdown-menu edit-btn-dropdown">
          <li><a href="/tests/{{vm.test._id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit</a></li>
          <li><a ng-click="vm.removeTest()"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</a></li>
        </ul>
      </div>

      
      
      <div id="show-test-container" class="well">
        <h3 class="test-category">Category: <span class="label {{vm.test.catClass}}"><i class="fa {{vm.test.catIcon}}" aria-hidden="true"></i>  {{vm.test.category}}</span></h3>
        
        <div id="add-questions-dropdown" class="btn-group edit-btn-group">
          <button ng-show="vm.display[0].val" type="button" class="btn btn-md btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus fa-2x" aria-hidden="true"></i>    Add a Question <span class="caret"></span>
          </button>
          <ul ng-show="vm.display[0].val" class="dropdown-menu edit-btn-dropdown">
            <li><a ng-click="vm.toggleDisplay(1)"><i class="fa fa-pencil" aria-hidden="true"></i>  Create New</a></li>
            <li><a ng-click="vm.toggleDisplay(2)"><i class="fa fa-cart-plus" aria-hidden="true"></i>  Add Existing</a></li>
          </ul>
          <!-- To go back to test's questions -->
          <button ng-hide="vm.display[0].val" type="button" class="btn btn-md btn-danger" ng-click="vm.toggleDisplay(0)">Back to Test</button>
        </div>

        <!-- TEST QUESTIONS -->
        <div id="show-test-questions-container" ng-show="vm.display[0].val">
          <h1 class="content-title">Questions ({{vm.test.questions.length}})</h1>
          <div class="test-question-container" ng-repeat="question in vm.test.questions" >
          <!-- Toggle Show/Hide Arrows -->
            <span ng-click="showChoices = !showChoices" class="toggle-icon-container"><i class="fa fa-caret-down fa-3x" aria-hidden="true" ng-hide="showChoices"></i><i class="fa fa-caret-up fa-3x" aria-hidden="true" ng-show="showChoices"></i></span>
            <!-- Question Text -->
            <p ng-click="showChoices = !showChoices" class="test-question-text"><span class="label {{question.catClass}}"><i class="fa {{question.catIcon}}" aria-hidden="true"></i></span>  {{question.text}}</p>

            <button id="remove-question-btn" type="button" class="btn btn-danger question-action-icon-containe" ng-click="vm.removeQuestionFromTest(question._id)"><span><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            <!-- Question's Answer Choices (Hidden by default) -->
            <div ng-repeat="choice in question.choices" ng-show="showChoices" class="answer-choice-container" ng-class="question.correct.text === choice.text ? 'correct-answer' : 'wrong-answer'">
              <p>{{vm.letters[$index]}}: {{choice.text}}</p>
            </div>
<!--             <li>Correct Answer: {{question.correct}}</li>
            <a class="btn btn-danger" ng-click="vm.removeQuestionFromTest(question._id)">Remove Question</a> -->

            <!-- DND LIST CODE -->
            <!--  <ul dnd-list="vm.test.questions">
              <li ng-repeat="question in vm.test.questions"
                  dnd-draggable="questions"
                  dnd-effect-allowed="move"
                  dnd-moved="vm.test.questions.splice($index,1)"
                  ng-class="{'selected': vm.selected = question}"
              >
                <p>Question: {{question.text}}</p>
              </li>
            </ul> -->
          </div>
        </div>
        
        <!-- FORM TO CREATE NEW QUESTION -->
        <div id="createQuestionAddToTestForm" class="well" ng-show="vm.display[1].val" ng-controller="NewQuestionController as vmNewQuestion">
          <h1 class="content-title">Create a Question</h1>
          <form ng-submit="vmNewQuestion.addQuestion(vmNewQuestion.question, vm.test._id)">
            <div class="form-group">
              <label>Question Text:</label>
              <textarea ng-model="vmNewQuestion.question.text" type="textarea" class="form-control input-text" placeholder="Enter your question..."></textarea>
            </div>
            <div class="form-group">
              <label for="questionCategory">Select a Category:</label>
              <div class="input-group">
                <div class="input-group-btn">
                  <button ng-click="vmNewQuestion.selectCategory('Math')" type="button" class="btn btn-danger">
                    <i class="fa fa-calculator" aria-hidden="true"></i> 
                    Math
                  </button>
                  <button ng-click="vmNewQuestion.selectCategory('English')" type="button" class="btn btn-info">
                    <i class="fa fa-book" aria-hidden="true"></i> 
                    English
                  </button>
                  <button ng-click="vmNewQuestion.selectCategory('Social Studies')" type="button" class="btn btn-default">
                    <i class="fa fa-globe" aria-hidden="true"></i> 
                    Social Studies
                  </button>
                  <button ng-click="vmNewQuestion.selectCategory('Science')" type="button" class="btn btn-warning">
                    <i class="fa fa-flask" aria-hidden="true"></i> 
                    Science
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="answer-input">
                <div class="input-group choice-input">
                  <input ng-model="vmNewQuestion.question.choices[0].text" type="text" class="form-control choice-input" placeholder="Enter Choice A...">
                  <div class="input-group-btn">
                    <button type="button" class="btn" ng-click="vmNewQuestion.updateChosenAnswer(1)" ng-class="vmNewQuestion.chosenAnswer === 1 ? 'btn-success' : 'btn-default'">Correct</button>
                  </div>
                </div>
              </div>
              <div class="answer-input">
                <div class="input-group choice-input">
                  <input ng-model="vmNewQuestion.question.choices[1].text" type="text" class="form-control choice-input" placeholder="Enter Choice B...">
                  <div class="input-group-btn">
                    <button type="button" class="btn" ng-click="vmNewQuestion.updateChosenAnswer(2)" ng-class="vmNewQuestion.chosenAnswer === 2 ? 'btn-success' : 'btn-default'">Correct</button>
                  </div>
                </div>
              </div>
              <div class="answer-input">
                <div class="input-group choice-input">
                  <input ng-model="vmNewQuestion.question.choices[2].text" type="text" class="form-control choice-input" placeholder="Enter Choice C...">
                  <div class="input-group-btn">
                    <button type="button" class="btn" ng-click="vmNewQuestion.updateChosenAnswer(3)" ng-class="vmNewQuestion.chosenAnswer === 3 ? 'btn-success' : 'btn-default'">Correct</button>
                  </div>
                </div>
              </div>
              <div class="answer-input">
                <div class="input-group choice-input">
                  <input ng-model="vmNewQuestion.question.choices[3].text" type="text" class="form-control choice-input" placeholder="Enter Choice D...">
                  <div class="input-group-btn">
                    <button type="button" class="btn" ng-click="vmNewQuestion.updateChosenAnswer(4)" ng-class="vmNewQuestion.chosenAnswer === 4 ? 'btn-success' : 'btn-default'">Correct</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Create Question and Add to Test</button>
          </form>
        </div>

        <!-- LIST OF QUESTIONS IN DB TO ADD TO TEST -->
        <div id="all-questions-list-container" ng-show="vm.display[2].val">
          <h1 class="content-title">Add an Existing Question</h1>
          <h2>{{vm.allQuestionsList.length}} available</h2>
          <div class="test-question-container" ng-repeat="question in vm.allQuestionsList" >
            <span ng-click="showChoices = !showChoices" class="toggle-icon-container"><i class="fa fa-caret-down fa-3x" aria-hidden="true" ng-hide="showChoices"></i><i class="fa fa-caret-up fa-3x" aria-hidden="true" ng-show="showChoices"></i></span>
            <p ng-click="showChoices = !showChoices" class="test-question-text"><span class="label {{question.catClass}}"><i class="fa {{question.catIcon}}" aria-hidden="true"></i></span>  {{question.text}}</p>
            <button id="add-existingQ-btn" type="button" class="btn btn-success question-action-icon-containe" ng-click="vm.addExistingQuestionToTest(question._id)"><span>Add</span></button>

            <div ng-repeat="choice in question.choices" ng-show="showChoices" class="answer-choice-container" ng-class="question.correct.text === choice.text ? 'correct-answer' : 'wrong-answer'">
              <p>{{vm.letters[$index]}}: {{choice.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
