<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron pg-content-container">
      
      <h1 class="pg-content-title">{{vm.test.title}}</h1>
      <!-- Single button -->
      <div class="btn-group edit-btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>    <span class="caret"></span>
        </button>
        <ul class="dropdown-menu edit-btn-dropdown">
          <li><a href="/tests/{{vm.test._id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit</a></li>
          <li><a ng-click="vm.removeTest()"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</a></li>
        </ul>
      </div>

      

      <div id="show-test-container" class="well">
        <h3 class="test-category">Category: <span class="label {{vm.test.catClass}}"><i class="fa {{vm.test.catIcon}}" aria-hidden="true"></i>  {{vm.test.category}}</span></h3>
        
        <div id="add-questions-dropdown" class="btn-group edit-btn-group">
          <button type="button" class="btn btn-md btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus fa-2x" aria-hidden="true"></i>    Add a Question <span class="caret"></span>
          </button>
          <ul class="dropdown-menu edit-btn-dropdown">
            <li><a ng-click="vm.toggleCreateNewQsForTest()"><i class="fa fa-pencil" aria-hidden="true"></i>  Create New</a></li>
            <li><a ng-click="vm.toggleAddExistingQsToTest()"><i class="fa fa-cart-plus" aria-hidden="true"></i>  Add Existing</a></li>
          </ul>
        </div>

        <div id="show-test-questions-container" ng-show="vm.showTestQuestions.value">
          <h3>Questions:</h3>
          <div class="test-question-container" ng-repeat="question in vm.test.questions">
            <p>{{question.text}}</p>
            <li>Category: {{question.category}}</li>
            
            <!-- <ul ng-repeat="choice in question.choices">
              <li>Choice: {{choice.text}}</li>
            </ul>
            <li>Correct Answer: {{question.correct}}</li>
            <a class="btn btn-danger" ng-click="vm.removeQuestionFromTest(question._id)">Remove Question</a> -->

            <!-- DND LIST CODE -->
            <!--  <ul dnd-list="vm.test.questions">
              <li ng-repeat="question in vm.test.questions"
                  dnd-draggable="questions"
                  dnd-effect-allowed="move"
                  dnd-moved="vm.test.questions.splice($index,1)"
                  ng-class="{'selected': vm.selected = question}"
              >
                <p>Question: {{question.text}}</p>
              </li>
            </ul> -->
          </div>
        </div>
        
        <div id="createQuestionAddToTestForm" class="well" ng-show="vm.createNewQuestionFormDisplay.value" ng-controller="NewQuestionController as vmNewQuestion">
          <form ng-submit="vmNewQuestion.addQuestion(vmNewQuestion.question, vm.test._id)">
            <div class="form-group">
              <label>Question Text</label>
              <textarea ng-model="vmNewQuestion.question.text" type="textarea" class="form-control" placeholder="Enter your question..."></textarea>
            </div>
            <div class="form-group">
              <label for="questionCategory">Select a Category:</label>
                <select name="questionCategory" id="questionCategorySelector"
                  ng-model="vmNewQuestion.question.category">
                  <option value="Math">Math</option>  
                  <option value="English">English</option>  
                  <option value="Social Studies">Social Studies</option>  
                  <option value="Science">Science</option>  
                </select>
            </div>
            <div class="form-group">
              <p>Answer Choices (Select the correct answer before submitting)</p>
              <label>A:</label>
              <input type="radio" ng-model="vmNewQuestion.question.correct.id" value="1">
              <input ng-model="vmNewQuestion.question.choices[0].text" type="text" class="form-control" placeholder="Enter Choice A...">
              <label>B:</label>
              <input type="radio" ng-model="vmNewQuestion.question.correct.id" value="2">
              <input ng-model="vmNewQuestion.question.choices[1].text" type="text" class="form-control" placeholder="Enter Choice B...">
              <label>C:</label>
              <input type="radio" ng-model="vmNewQuestion.question.correct.id" value="3">
              <input ng-model="vmNewQuestion.question.choices[2].text" type="text" class="form-control" placeholder="Enter Choice C...">
              <label>D:</label>
              <input type="radio" ng-model="vmNewQuestion.question.correct.id" value="4">
              <input ng-model="vmNewQuestion.question.choices[3].text" type="text" class="form-control" placeholder="Enter Choice D...">
            </div>
            <button type="submit" class="btn btn-success">Create Question</button>
          </form>
        </div>

        <div id="addExistingQuestionToTestContainer" ng-show="vm.addExistingQuestionFormDisplay.value">
          <p>All Questions:
            <div class="well" ng-repeat="question in vm.allQuestionsList">
              <ul>
                <li>Category: {{question.category}}</li>
                <li>Question: {{question.text}}</li>
                <ul ng-repeat="choice in question.choices">
                  <li>Choice: {{choice.text}}</li>
                </ul>
                <li>Correct Answer: {{question.correct}}</li>
                <a class="btn btn-success" ng-click="vm.addExistingQuestionToTest(question._id)">Add Question</a>
              </ul>
            </div>
          </p>
        </div>
      </div>
      <a class="btn btn-primary" href="/tests">Back to All Tests</a>
    </div>
  </div>
</div>
