<h1>Show Route</h1>

<div class="well">
  <h4>TITLE: <a href="/tests/{{tests._id}}">{{vm.test.title}}</a></h4>
  <p>Category: {{vm.test.category}}</p>
  <p>Questions:</p>
    <ul ng-repeat="question in vm.test.questions">
      <li>Category: {{question.category}}</li>
      <li>Question: {{question.text}}</li>
      <ul ng-repeat="choice in question.choices">
        <li>Choice: {{choice.text}}</li>
      </ul>
      <li>Correct Answer: {{question.correct}}</li>
      <li>Tests this question is a part of: {{question.tests}}</li>
    </ul>
  
</div>