<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron pg-content-container">
      <!-- Title -->
      <h1 class="pg-content-title">O.S.Q.A.R.</h1>
      <div id="show-test-container" class="well">
        <h2 class="home-text" >The <strong>O</strong>pen <strong>S</strong>ource <strong>Q</strong>uestion & <strong>A</strong>nswer <strong>R</strong>esource</h2>
        <h3 class="home-text home-description">
          "Always Growing, Always Learning"
        </h3>
        <a href="/sessions/new" class="btn btn-info home-btn">
          <p class="home-btn-text">I'm a Student</p>
        </a>
        <a href="/tests" class="btn btn-warning home-btn">
          <p class="home-btn-text">I'm a Teacher</p>
        </a>
      </div>
    </div>
  </div>
</div>