<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron pg-content-container">
      <div id="home-text-container">
        <h1 class="home-text" id="home-text-title">OSQAR</h1>
        <h3 class="home-text" >The Open Source Question & Answer Resource</h3>
      </div>
      <div id="home-btn-container">
        <a href="/sessions/new" class="btn btn-warning home-btn">
          <p class="home-btn-text">I'm a Student</p>
        </a>
        <a href="/tests" class="btn btn-info home-btn">
          <p class="home-btn-text">I'm a Teacher</p>
        </a>
      </div>
    </div>
  </div>
</div>